body {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  background-color: #f2f4f7;
}

.row {
  margin-right: 0;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  padding-right: 0;
}

.top-page {
  font-size: 22px;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.logo, .social, .logo-2 {
  display: inline-block;
}

.top-nav {
  position: relative;
}

.logo img, .logo-2 img  {
  height: 110px;
}

.social {
  font-size: 28px;
  position: absolute;
  bottom: 0;
  padding: 5px 10px;
}

.logo-2 {
  position: absolute;
  bottom: 10px;
  right: 0;
}

.menu-topo {
  height: 50px;
  background-color: #00612e;
  overflow: hidden;
}

.menu-topo a {
  line-height: 50px;
  vertical-align: middle;
  color: white;
  font-size: 16px;
  padding: 10px 20px;
}

.bg-cloud {
  background-color: #ecf0f1;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #00612e;
}

.section-margin {
  padding-top: 60px;
  padding-bottom: 60px;
}

.section-margin-small {
  padding-top: 20px;
  padding-bottom: 20px;
}

.call-to-action {
  background-color: #00612e;
}

.call-to-action h2 {
  color: white
}

.button-call {
  background-color: none;
}

.agenda-semanal, .ultima-pregacao {
  margin-bottom: 20px;
}

.agenda-semanal {
  text-align: center;
  color: #ecf0f1;
}

.dia-agenda {
  text-align: center;
  margin: 10px 5% 0 5%;
  border: double white;
}

.dia-agenda h3 {
  text-align: center;
  margin-top: 10px;
  color: white;
}

.agenda-semanal h2 {
  color: white;
}

.slide {
  width: 120vh;
}

.visita h3 {
  color: white;
  text-align: center;
  margin-bottom: 20px;
}



.pregacao-home{
  text-align: center;
}

.pregacao-home iframe {
  width: 75%;
  height: 40vw;
}

.noticia {
  padding: 20px;
}

.noticia img {
  width: 100%;
}

.bg-green {
  background-color: #00612e;
  color: white;
}

.bg-green h2 {
  color: white;
}

.bg-green-light {
  background-color: #87D37C;
}

.federacoes {
  text-align: center;
}

.center-col {
  display:inline-block;
  float:none;
  /* reset the text-align */
  text-align:left;
}

@media (min-width:768px) {
  .center-col {
    /* inline-block space fix */
    margin-right:-4px;
  }
}

.federacao {
  display:inline-block;
  float:none;
  /* reset the text-align */
  text-align:left;
  /* inline-block space fix */
  margin-right:-4px;
  margin: 10px;
}

.federacao img {
  width: 100%;
}

.endereco-mapa i {
  font-size: 52px;
  margin-top: 20vh;
}

.footer-1 {
  color: #ccc9c9;
}

.footer-1 h3 {
  color: white;
}

.footer-2 {
  border-top: solid 1px white;
  text-align: center;
  background-color: #00612e;
  height: 40px;
  color: white;
  padding-top: 10px;
}

.overlay {
   background:transparent;
   position:relative;
   width:100%;
   height:500px; /* your iframe height */
   top:500px;  /* your iframe height */
   margin-top:-500px;  /* your iframe height */
}

@media (max-width:768px){
  .dia-agenda {
  }
  .slide {
    width: 100%;
  }
  .endereco-mapa i {
    font-size: 52px;
    margin-top: 20px;
  }
  .pregacao-home iframe {
    width: 90%;
    height: 50vw;
  }
}
